chromadb==0.3.21
fastapi==0.95.0
fitparse==1.2.0
langchain==0.0.138
openai==0.27.4
pandas==1.5.3
passlib==1.7.4
psycopg2==2.9.6
pydantic==1.10.7
python-jose==3.3.0
python-multipart==0.0.6
unstructured[local-inference]==0.5.11
uvicorn==0.21.1
